@model RestaurantOpinionVM

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Information";
    var photoPath = "~/ImageRestaurant/" + (Model.Restaurant.ZdjecieUrl ?? "noImage.jpg");
}


<div class="col-11 shadow-lg mx-auto" id="tło">
    <div class="row">
        <div class="col-lg-7 my-2">
            <p class="modal-title text-center display-4">@Model.Restaurant.Name</p>
            <div class="col-12 mx-auto">

                <div id="przykladowaKaruzela3" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img class="rounded border shadow-lg w-100" height="300" src="@photoPath" asp-append-version="true">
                        </div>

                        @if (Model.Restaurant.photo != null)
                        {
                            @foreach (var pht in Model.Restaurant.photo)
                            {
                                var photoPath2 = "~/ImageRestaurant/" + (pht.Zdjecie);
                                <div class="carousel-item">
                                    <img class="rounded border shadow-lg w-100" height="300" src="@photoPath2" asp-append-version="true">
                                </div>
                            }
                        }


                    </div>
                    <a class="carousel-control-prev" href="#przykladowaKaruzela3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Poprzedni</span>
                    </a>
                    <a class="carousel-control-next" href="#przykladowaKaruzela3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Następny</span>
                    </a>
                </div>
            </div>

            <div class="row d-flex justify-content-around p-2 border-dark">
                <h3>@Model.Restaurant.City</h3>
                <h6 class="lead my-auto">Ul. @Model.Restaurant.Address @Model.Restaurant.Number</h6>

            </div>
        </div>

        <div class="row col-lg-5 my-2 mx-auto">


            <div class="col-12 px-0">
                <p class="text-capitalize text-center h4">Informacje</p>
                <div class="text-center">
                    <h5 class="lead">
                        Otwarte od @Model.Restaurant.Open do @Model.Restaurant.Close.
                    </h5>
                    <h3 class="lead">
                        @Model.Restaurant.Description
                    </h3>

                    @if (Model.Restaurant.Menu != null)
                    {
                        <a class="btn btn-info" asp-action="Details" asp-controller="Menu" asp-route-id="@Model.Restaurant.Id">Przejdz do menu</a>
                    }

                </div>


                <p class="border-top mt-3"></p>


                <div class="row">
                    @if (Model.Restaurant.EventRestaurants.Any())
                    {
                        foreach (var x in Model.Restaurant.EventRestaurants.Take(2))
                        {
                            <partial name="_DetailsEvents" model="x" />
                        }
                    }
                    else
                    {
                        <h5 class="lead">Obecnie nie ma wydarzeń</h5>
                    }
                </div>



            </div>
        </div>
        <div class="col-12">
            <h2 class="m-2">Opinię   @Model.Restaurant.Average()|5</h2>
        </div>
     
        <div class="col-10 mx-auto p-2 ">
            @foreach (var comments in Model.Restaurant.Comments)
            {
                var defaultStars = 5 - comments.Rating;
                <div class="card m-1">
                    <div class="card-body p-1">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded w-75 h-100">
                            </div>
                            <div class="col-sm-10 row p-0">
                                <div class="col-sm-6">
                                    <a asp-action="#" asp-controller="#" style="color:darkslateblue">@comments.User.UserName</a>
                                    <div>
                                        @for (int i = 1; i <= comments.Rating; i++)
                                        {
                                            <i class="fas fa-star "></i>
                                        }
                                        @for (int i = 1; i <= defaultStars; i++)
                                        {
                                            <i class="far fa-star "></i>
                                        }
                                    </div>
                                </div>

                                <div class="col-sm-6 small text-right p-0">
                                    @comments.TimeInsert.ToString("d MMMM yyyy")
                                </div>

                                <div class="col-sm-10">
                                    @comments.Description
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (SignInManager.IsSignedIn(User))
            {
                <partial name="_AddComment" model="Model.CommentVM" />
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");

            $(this).addClass("fas").removeClass("far");
            $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
        });

        $(".ratingStar").click(function () {
            debugger;
            var starValue = $(this).attr("data-value");
            $("#ratingsValue").val(starValue);
        });
    </script>
}


