@model List<Club>

@foreach (var club in Model)
{
    var photo = "~/ImageClub/" + (club.ZdjecieUrl ?? "noImage.jpg");

    <div class="col-lg-4  col-sm-6" >
        <div class="card mb-3 box-shadow" id="restauracje">
            <div class="card-title text-center">@club.Name</div>
            <div class="card-img-top">
                <img src="@photo" asp-append-version="true" class="rounded border w-100" id="img" />
            </div>
            <div class="card-body p-2">
                <div class="d-flex justify-content-between mb-2">
                    <a>@club.City<small class="text-muted"> Ul. @club.Address @club.Number</small></a>
                </div>
            </div>
        </div>
    </div>
}